.file-input-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.choose-file-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  background-color: #2196F3;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
}

.choose-file-input {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.choose-file-button:hover {
  background-color: red;
}

.music-player-container {
  max-width: 80%;
  margin: auto;
  padding: 20px;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%) ;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.player-info {
  text-align: center;
  width: 90%;
  height: 30px;
  background: #909090;
  color: #ffffff;
  position: relative;
  animation: MyDiv 25s infinite ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.alt-rev {
  animation-direction: alternate-reverse;
}
@keyframes MyDiv {
  0%   {left: 0px; top: 0px;}
  100%  {left: 130px; top: 0px;}
}

.player-controls {
  display: flex;
  margin-top: 20px;
  gap: 15px;
}

button {
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #909090;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  outline: none;
}

button:hover {
  background-color: #0e87cc;
}
button:active {
  color: #000;
}
.uploaded-songs {
  color: #000 ;
}

/* New style */

.playlist {
  margin-bottom: 20px;
}

.playlist h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.playlist ul {
  list-style: none;
  padding: 0;

}

.playlist li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-radius: 5px;
}

.playlist li:hover {
  background-color: #2196F3;
}

.current-track {
  font-weight: bold;
  color: #1f2328;
}

.now-playing {
  text-align: center;
  margin-bottom: 20px;
  background-color: #ddf4ff;
  border: 1px solid #f6f9fb ;
  border-radius: 10px;
}

